.color-list {
	font-family: 'Roboto Mono, sans-serif';
    font-size: 15px;
    position: relative;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.items {
	margin: 5px 5px;
}